<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="CONSOLE_LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{scenarioId} %X{userGuid} %-35.35logger{39}.%-20M{20} \\(%-5.5line\\) : %m%n" />
	<property name="FILE_LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-30logger{30}.%-20M{20} \\(%-5line\\) : %m%n" />
	<property name="LOG_PATH" value="logs" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />
	<timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="File-Appender" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/${scenario-name}.log</file>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>
	<appender name="RollingFile-Appender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/rollingfile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ARCHIVE}/rollingfile.log%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- <fileNamePattern>${LOG_ARCHIVE}/rollingfile%d{yyyy-MM-dd}.log </fileNamePattern> -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1KB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="guru.springframework.blog.logbackxml" level="info"
		additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="File-Appender" />
		<appender-ref ref="RollingFile-Appender" />
	</logger>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="File-Appender" />
		<appender-ref ref="RollingFile-Appender" />
	</root>
</configuration>